

$color-pri-drk: #48726D;
$color-pri-med: #9EBFBB;
$color-pri-lgt: #7F7F7F;

$color-sec-med: #BFA89E;
$color-sec-lgt: white;

$font-ornate: 'Open Sans Condensed', sans-serif;

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
	font-family: $font-ornate;
	background-color: $color-pri-med;
	overflow-y: hidden;
}

.bg-pattern {
	background-image: url('../assets/tile.png');
	background-repeat: repeat;
}

.bg-pluto {
	background-image: url('../assets/pluto.jpg');
}

.bg-pri-drk {
	background-color: $color-pri-drk;
}

.br-pri-lgt {
	background-color: $color-sec-lgt;
}

.banner {
	background-image: url('../assets/saturn.jpg');
	font-family: $font-ornate;

	color: $color-sec-lgt;
	text-align: center;
	justify-content: center;
  	align-items: center;
 	display: flex;
	h1 {
		font-size: 60px;

	}
}

.slider {
	cursor: pointer;
}

.view {
	height: 100vh;
}

#space-ship {
	position: absolute;
	animation-name: spaceshipMove;
    animation-duration: 4s;
	animation-iteration-count: infinite;
}

#planet {
}

.hide {
	animation-name: hide;
    animation-duration: 1s;
}
.show {
	animation-name: show;
    animation-duration: 1s;
}

.panel {
	height: 100%;
	background-color: $color-sec-lgt;
}

@keyframes spaceshipMove {
    0% {top: 20%;}
    50% {top: 40%;}
	100% {top: 20%;}
}

@keyframes hide {
	from {height: 100vh;}
	to {height: 0%;}
}

@keyframes show {
	from {height: 100vh;}
	to {height: 0%;}
}